body {
    font-family: Arial;
    background: radial-gradient(circle at bottom, #0a0a23, #000);
    color: white;
    text-align: center;
}

h1 {
    color: #00ffff;
    text-shadow: 0 0 15px cyan;
}

.rooms button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #1E90FF;
    color: white;
    cursor: pointer;
}

.rooms button:hover {
    background: #00BFFF;
}

.card {
    background: rgba(255,255,255,0.05);
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
}

input, textarea {
    width: 80%;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background: #00bfff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #00ffff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.1);
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}

canvas {
    background: white;
    border-radius: 10px;
    cursor: crosshair;
}

.hidden {
    display: none;
}
