body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #04041c, #0b0b3a);
    color: white;
}

header {
    text-align: center;
    padding: 25px;
    background: #0e0e45;
}

.container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

.card {
    background: rgba(255,255,255,0.07);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,200,255,0.3);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

textarea {
    min-height: 70px;
}

button {
    padding: 8px 15px;
    background: #00d9ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #00aacc;
}

/* Chat */
.chat-box {
    background: black;
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Forum */
.post {
    background: rgba(0,0,0,0.6);
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.reactions button {
    background: #1c1c1c;
    color: white;
    margin-right: 5px;
}

.comment-box {
    margin-top: 10px;
}
