body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #01010d, #0a0a25);
    color: white;
}

header {
    text-align: center;
    padding: 25px;
    background: #0e0e45;
}

.container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,200,255,0.3);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

button {
    padding: 8px 15px;
    background: #00c3ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0088cc;
}
